.box
{
    border:1px solid black;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 500px;
    border: none;


}
.form1
{
    width: 400px;
    height: 350px;
}

.mb-3
{
   font-size: 23px;
   font-weight: 600;
}
.button
{
   text-align: center;
   padding-top: 20px;
   border-radius: 7px;
}